
body {
    background-color: lightgreen;
    font-family: 'Cute Font', cursive;

}


.container1 div{
display:flex;
justify-content: space-around;
}

.container2 {
    background-color: lightgreen;
    display: flex;
    position:relative;
    width: 100%;
    height: 500px;
    align-items: center;
}

.container3 div {
    display: flex;
    padding: 2%;
    position:absolute;
    bottom: 10%;
    justify-content: space-around;
    width:100%;
    height:130px;
}

/* #welcome {
    text-align: center;
   border-style: dashed;
   padding-left: 10%;
   padding-right: 10%;
    /* position: absolute; */
    /* top: 20%; */
    /* left: 30%; */
    /* font-size: 150px;
    background-color: pink;
    border-radius: 5%;
} */

/* #play-button {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    margin-top: 50px;
    background-color: lightgray;
    font-size: 50px;
    font-family: 'Cute Font', cursive;
    border-style: solid;
    border-radius: 3%;
} */



#age {
    flex: 2;
}

#name-box {
    flex: 3;
}

/* ----------start of cat-------------------- */

.catContainer {
    /* display: flex; */
    /* height: 400px; */
    /* background-color: white; */
}

.cat {
    position: absolute;
    bottom: 30%;
    right: 35%;
    
}

.catHead {
    background-color: #f19b1a;
    height: 70px;
    width: 80px;
    border-radius: 80px 80px 80px 80px;
    position: absolute;
    bottom: 100px;
    right: 90px;
}

.ear {
    height: 18px;
    width: 15px;
    background-color: #f19b1a;
    position: absolute;
    bottom: 165px;
    right: 135px;
    border-radius: 10px 25px 0 0;
    box-shadow: 30px 0 #f19b1a;
}

.eye,
.eye:before {
    height: 7px;
    width: 10px;
    border: 1px solid #2c2c2c;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    /* border-top: none */
    box-shadow: 30px 0 black;
}
.eye {
    bottom: 135px;
    right: 140px;
}


.nose {
    background-color: #ffffff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 120px;
    right: 130px;
    box-shadow: 12px 0 white;
}

.nose:before {
    content: '';
    width: 12px;
    height: 8px;
    position: absolute;
    background-color: white;
    left: 6px;

}

.nose:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 8px solid #f19b1a;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 7px;
    left: 6px;
}

.mouth {
    background-color: pink;
    height: 15px;
    width: 17px;
    position: absolute;
    border-radius: 0 0 5px 5px;
    bottom: 115px;
    right: 122px;
    animation: mouth-move 2s infinite;
    transform-origin: top;
}

@keyframes mouth-move {
    50% {
        transform: scaleY(0.9);
    }
}

.body {
    background-color: #f19b1a;
    height: 110px;
    width: 110px;
    position: absolute;
    right: 75px;
    bottom: 0;
    border-radius: 60px 60px 0 0;
    animation: breath 8s infinite ;
    transform-origin: bottom;
}

@keyframes breath {
    100% {
        transform: scale(0.9, 1.0);
        /* transform: scaleX(0.9); */
    }
}

.tail {
    background-color: darkorange;
    height: 20px;
    width: 100px;
    position: absolute;
    right: 150px;
    bottom: 0;
    border-radius: 20px 0 0 20px;
}

.body:before {
    content: '';
    position: absolute;
    background-color: white;
    height: 12px;
    width: 30px;
    border-radius: 6px;
    bottom: 0;
    left: 22px;
    box-shadow: 45px 0 white;
}

/* .bubble {
    height: 20px;
    width: 20px;
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    left: 65px;
    top: 20px;
    border-radius: 50px 50px 50px 5px;
    animation: bubble-scale 2s infinite;
} */

/* @keyframes bubble-scale {
    50% {
        transform: scale(1.6)
    }
    
} */
/* ---------end of cat-------------------- */


#stats-box {
    flex: 2;
    border-color: pink;
}

#action-box img{
    width:100%;
    max-width:100px;
}



/* .stats-bar {
    background-color:pink;
    border: 4px;
    border-style: solid;
    border-radius: 15px;
    text-align: center;

} */


.button {
    background-color: Transparent;
    /* background-repeat:no-repeat; */
    border: none;  
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#hunger-bar {
    position: relative;
    width: 400px;
    height: 2em;
    background-color: grey;
    border-radius: 1.5em;
    color: white;
    
}

#hunger-bar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .13em;
    top: .13em;
    bottom: .3em;
    width: calc(var(--width, 0) * 1%); 
    min-width: .1rem;
    max-width: calc(100% - .3em);
    background-color: pink;
    border-radius: 1.5em;
    padding: .4em;
    font-size: 30px;
}


#bored-bar {
    position: relative;
    width: 400px;
    height: 2em;
    background-color: grey;
    border-radius: 1.5em;
    color:white;
}

#bored-bar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .13em;
    top: .13em;
    bottom: .3em;
    width: calc(var(--width, 0) * 1%); 
    min-width: 2rem;
    max-width: calc(100% - .3em);
    background-color: pink;
    border-radius: 1.5em;
    padding: .4em;
    font-size: 30px;
}

#energy-bar {
    position: relative;
    width: 400px;
    height: 2em;
    background-color: grey;
    border-radius: 1.5em;
    color:white;
}

#energy-bar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .13em;
    top: .13em;
    bottom: .3em;
    width: calc(var(--width, 0) * 1%); 
    /* min-width: .01rem; */
    max-width: calc(100% - .3em);
    background-color: pink;
    border-radius: 1.5em;
    padding: .4em;
    font-size: 30px;
}


/* .stats-bar::after{
    content: 'full';
    display: flex;
    align-items: center;
    position: absolute;
    left: 10em;
    top: .5em;
    bottom: .5em;
    font-size: 30px;
} */



#counter {
    background-color: pink;
    display: flex;
    border-radius: 1em;
    width: 100px;
    height: 100px;
    font-size: 2em;
    align-items: center;
    border-style: solid;
    border-color: grey;
    margin-left: 120px;
    margin-top: 30px;
    
}