html {
    height: 100%
}

body {
    /* background-color: lightgreen; */
    font-family: 'Cute Font', cursive;
    background-image: url("images/houseBackground.jpg");
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
}


.container1 div{
display:flex;
justify-content: space-around;
}

.container2 {
    left: 20px;
    /* background-color: lightgreen; */
    display: flex;
    position:relative;
    width: 100%;
    height: 500px;
    align-items: center;
}

.container3 div {
    display: flex;
    padding: 7%;
    position:absolute;
    bottom: 10%;
    justify-content: space-around;
    width:100%;
    height:130px;
}



#name-box {
    flex: 2;
    /* display: inline; */
    font-size: 4em;
    border-style: dotted;
    margin: 10px 10px 0 30px;
    background-color:peachpuff;
    /* border-radius: 1em; */
    border-color: grey;
    height:80px;
    width: 1em;
    margin-top: .5em;
    margin-right: 100px;
}


#counter {
    background-color:peachpuff;
    display: flex;
    /* border-radius: 20%; */
    /* width: px; */
    height: 80px;
    width:80px;
    font-size: 6em;
    align-items: center;
    border-style: dotted;
    border-color: grey;
    margin-left: 80px;
    margin-top: 30px;
    margin-right: 20px;
}



/* ----------start of cat-------------------- */


.cat {
    position: absolute;
    bottom: 30%;
    right: 35%;
    
}

.catHead {
    background-color: #f19b1a;
    height: 70px;
    width: 80px;
    border-radius: 80px 80px 80px 80px;
    position: absolute;
    bottom: 100px;
    right: 90px;
}


.ear {
    height: 18px;
    width: 15px;
    background-color: #f19b1a;
    position: absolute;
    bottom: 164px;
    right: 135px;
    border-radius: 10px 25px 0 0;
    box-shadow: 30px 0 #f19b1a;
}

.earInside {
    height: 11px;
    width: 9px;
    background-color: white;
    position: absolute;
    bottom: 168px;
    right: 138px;
    border-radius: 10px 25px 20px 10px;
    box-shadow: 30px 0 white;
}

.eye,
.eye:before {
    height: 7px;
    width: 10px;
    border: 1px solid #2c2c2c;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    box-shadow: 30px 0 black;
}

.eye {
    bottom: 135px;
    right: 140px;
}


.nose {
    background-color: #ffffff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 120px;
    right: 130px;
    box-shadow: 12px 0 white;
}

.nose:before {
    content: '';
    width: 12px;
    height: 8px;
    position: absolute;
    background-color: white;
    left: 6px;

}

.nose:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 8px solid #f19b1a;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 7px;
    left: 6px;
}

.mouth {
    background-color: lightpink;
    height: 15px;
    width: 17px;
    position: absolute;
    border-radius: 0 0 5px 5px;
    bottom: 115px;
    right: 122px;
    animation: mouth-move 2s infinite;
    transform-origin: top;
}

@keyframes mouth-move {
    50% {
        transform: scaleY(0.9);
    }
}

.body {
    background-color: #f19b1a;
    height: 110px;
    width: 110px;
    position: absolute;
    right: 75px;
    bottom: 0;
    border-radius: 60px 60px 0 0;
    animation: breath 8s infinite ;
    transform-origin: bottom;
}

@keyframes breath {
    100% {
        transform: scale(0.9, 1.0);
        /* transform: scaleX(0.9); */
    }
}


.tail {
    background-color: darkorange;
    height: 20px;
    width: 100px;
    position: absolute;
    right: 150px;
    bottom: 0;
    border-radius: 20px 0 0 20px;
}

/* 
.body:before {
    content: '';
    position: absolute;
    background-color: white;
    height: 12px;
    width: 30px;
    border-radius: 6px;
    bottom: 0;
    left: 22px;
    box-shadow: 45px 0 white;
} */

/* .bubble {
    height: 20px;
    width: 20px;
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    left: 65px;
    top: 20px;
    border-radius: 50px 50px 50px 5px;
    animation: bubble-scale 2s infinite;
} */

/* @keyframes bubble-scale {
    50% {
        transform: scale(1.6)
    }
    
} */
/* ---------end of cat-------------------- */




#action-box img{
    width:100%;
    max-width:100px;
}

#actionText {
    font-family: 'Cute Font', cursive;
    border-style: dotted;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 25px;
    background-color: peachpuff;

}
.stats-box{
    position: relative;
    width: 400px;
    height: 2em;
    background-color: grey;
    border-radius: 1.5em;
    color: white;

}

.stats-bar {
    display: flex;
    align-items: center;
    padding: .4em;
    font-size: 30px;
    border-style: solid 0.1px;
    width: 400px;
    height: .8em !important;
    min-width: .05rem;
    max-width: calc(100% - .3em);
    border-radius: 1.5em;
    color: white; 
    width: 0%;
    height: 100%;
    background-color: pink;
    position: absolute;
    top: 4px;
    left: 4px;

    position: absolute;
  
}

#hunger-bar {
    bottom: 10px;
}

/* #bar-text {
    font-size: 36px;


} */

/* #hunger-bar-progress{
    display: flex;
    align-items: center;
    position: absolute;
    left: .13em;
    top: .13em;
    bottom: .3em;
    width: 1%; 
    min-width: .1rem;
    max-width: calc(100% - .3em);
    background-color: pink;
    border-radius: 1.5em;
    padding: .4em;
    font-size: 30px;
} */


.button {
    background-color: Transparent;
    /* background-repeat:no-repeat; */
    border: none;  
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}


#energy-bar{ 
    width: 100%; /* this starts at 100 because the cat starts with full energy */
    max-width: calc(100% -.3em);
}

h1 {
    border-style: dotted;
    background-color: peachpuff;
}

p {
    margin-top: 0px;
}

#catName {
    height:2em;
    border-style: dotted;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.welcome-start {
    font-size: 30px;
    font-weight: bolder;
}

.gameStartButton {
    font-size: 20px;;
    border-style: dotted;
    padding: .3em;
    background-color: peachpuff;
}

.playAgainButton {
    font-size: 20px;;
    border-style: dotted;
    padding: .3em;
    background-color: peachpuff;
}

.welcome-page {
    position: absolute;
    z-index: 1;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgreen;
    text-align: center;
    font-size: 30px;
} 


.loser-page {
    position: absolute;
    z-index: 1;
    height: 100%;
    width:100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: lightgreen;
    text-align: center;
    font-size: 30px;

}



.winner-page {
    position: absolute;
    z-index: 1;
    height: 100%;
    width:100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: lightgreen;
    text-align: center;
    font-size: 30px;

} ;